.file-details-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #f4f5f7;
  height: calc(100vh - 64px); /* Assuming your header height is 64px */
  gap: 20px;
}

.main-content {
  flex: 3;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.file-viewer {
  width: 100%;
  height: 100%;
}

.sidebar {
  flex: 1;
  background-color: #f8f9fa;
  background-image: url('../../images/Background2.webp'); /* Add your desired background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-icon-details {
  margin-bottom: 16px;
  color: #005B4B; /* Match the primary theme color */
}

.file-details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
}

.description-preview-details {
  margin: 16px 0;
  font-size: 14px;
  color: #666666; /* Light grey for description text */
  text-align: justify;
}

.metadata {
  width: 100%;
  text-align: left;
  margin-top: 16px;
}

.metadata-item {
  margin-bottom: 8px !important;
  font-size: 14px;
  color: #333333; /* Darker grey for metadata text */
}

.download-button {
  margin-top: 20px !important;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #005B4B;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
  background-color: #39826A; /* Match the secondary theme color */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


